.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

#btn {
  padding: 8px 23px;
  border: 2px solid grey;
  border-radius: 8px;
  font-size:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(214, 137, 214);
  float:right;
  position: relative;
  bottom: 129px;
  left: 40px;
  cursor: pointer;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/* Making Mobile Friendly to the dicee website */

@media (max-width:1260px) {
  .container {
    padding-top: 6%;
  }

  h1{
    font-size: 3rem;
  }

  .dice {
    padding: 5%;
  }
  p{  
      font-size: 40px;
  }
  #btn {
    position: static;
    float: none;
    margin-top: 60px;
    width: 80%;
    
  }



  footer {
    margin-top: 125%;
    font-size: 23px;
    
  }
  
  
}
